2.RRHH/Solicitud-tiempo-libre.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Solicitud de vacaciones",
        "formDescription": "Aquí puedes solicitar tus vacaciones o días libres por enfermedad.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre completo",
              "placeholder": "Nombre completo del empleado ",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo electrónico",
              "fieldType": "email",
              "placeholder": "juan@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha inicio",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha retorno",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Comentarios",
              "fieldType": "textarea",
              "placeholder": "Comentarios adicionales de la solicitud"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Información enviada correctamente"
            }
          },
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 13px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\t\n\t/* Colors */\n\t--color-background: #e8e8e8;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #e0e0e0;\n\t--color-card-shadow: rgba(0, 0, 0, 0.08);\n\t--color-link: #2196F3;\n\t--color-header: #333333;\n\t--color-label: #757575;\n\t--color-input-border: none;\n\t--color-input-border-bottom: #9e9e9e;\n\t--color-input-border-hover: #616161;\n\t--color-input-text: #333333;\n\t--color-focus-border: #2196F3;\n\t--color-submit-btn-bg: #2196F3;\n\t--color-submit-btn-bg-disabled: #e0e0e0;\n\t--color-submit-btn-text: #ffffff;\n\t--color-submit-btn-text-disabled: #a0a0a0;\n\t--color-submit-btn-hover: #1976D2;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #2196F3;\n\t--color-header-subtext: #757575;\n\t\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 0px;\n\t--border-radius-button: 4px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\t\n\t/* Spacing */\n\t--padding-container-top: 32px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 8px 2px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 20px;\n\t\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\t--input-border-bottom-width: 2px;\n\t\n\t/* Others */\n\t--box-shadow-card: 0px 2px 8px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n\t--transition-speed: 0.2s;\n}\n\n"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -48,
        176
      ],
      "id": "18f553d0-d90f-4889-9048-20e9fd36bd40",
      "name": "Nueva solicitud de tiempo libre",
      "webhookId": "fca5daed-a30b-4008-8fd6-7084be4b1f10"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"email\": \"{{ $json['Correo electrónico'] }}\",\n  \"fullName\": \"{{ $json['Nombre completo'] }}\",\n  \"startDate\": \"{{ $json['Fecha inicio'] }}\",\n  \"endDate\": \"{{ $json['Fecha retorno'] }}\",\n  \"comments\": \"{{ $json.Comentarios }}\",\n  \"daysRequested\": {{ \n    (\n      $json['Fecha retorno'].toDateTime() \n      -  \n      $json['Fecha inicio'].toDateTime()\n    )\n    /\n    (1000 * 60 * 60 * 24 )\n  }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        176
      ],
      "id": "acbb918c-c522-48df-a15c-38901a92998d",
      "name": "Extraer variables de la solicitud"
    },
    {
      "parameters": {
        "content": "## Validaciones",
        "height": 544,
        "width": 928,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -80
      ],
      "typeVersion": 1,
      "id": "3b2798fb-8ac7-477f-aaaa-3682fbcec8ac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d457611-5ac1-441a-ac74-5b59dbc72d17",
              "leftValue": "={{ $json.startDate.toDateTime().plus(7, 'days') }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        -16
      ],
      "id": "cca1a4bc-1c82-4b3a-b07b-8ca7d81274fc",
      "name": "¿Es mayor a hoy + 7 dias?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email }}",
        "subject": "Rechazo de sollicitud",
        "message": "=<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Rechazo de solicitud</title>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <style>\n    .card {\n      margin: 0 auto;\n      max-width: 560px;\n      border-radius: 16px;\n      background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);\n      border: 1px solid #e5e7eb;\n      /* sombras en capas para que se note en Gmail */\n      box-shadow: \n        0 8px 24px rgba(0,0,0,0.28),\n        0 12px 32px rgba(0,0,0,0.22),\n        0 2px 6px rgba(0,0,0,0.15);\n    }\n    .content {\n      padding: 28px;\n      font: 15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;\n      color:#1f2937;\n    }\n    .h1 {\n      margin:0 0 12px;\n      font-size:22px;\n      font-weight:700;\n      color:#111827;\n      text-align:center;\n    }\n    .p { \n      margin:0 0 18px; \n      text-align:center; \n    }\n    .footer {\n      margin-top:20px;\n      font-size:12px;\n      color:#6b7280;\n      text-align:center;\n      border-top:1px solid #e5e7eb;\n      padding-top:12px;\n    }\n  </style>\n</head>\n<body style=\"margin:0; padding:32px 14px; background:#ffffff;\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n    <tr>\n      <td align=\"center\">\n        <div class=\"card\">\n          <div class=\"content\">\n            <h1 class=\"h1\">Rechazo de solicitud</h1>\n            <p class=\"p\">\n              Motivo: {{ $json.message }}<br>\n              Para más información, comuníquese con RRHH a\n              <a href=\"mailto:rrhh@empresa.com\" style=\"color:#2563eb; text-decoration:none;\">rrhh@empresa.com</a>\n            </p>\n            <div class=\"footer\">\n              Este mensaje fue generado automáticamente.<br>\n              Por favor, no responda a este correo ya que no será leído.<br>\n              Si necesita asistencia adicional, comuníquese con el área de RRHH.\n            </div>\n          </div>\n        </div>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        560
      ],
      "id": "f29f7bc0-0c92-4d50-aff2-4482f85683b5",
      "name": "Enviar mensaje de rechazo",
      "webhookId": "42c537f7-f413-43ce-816f-0daec14dd1ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "jG503Egv0gBIaG41",
          "name": "Gmail account - nikolas090189@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Se debe solicitar con 7 dias de antelación.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        288
      ],
      "id": "a7a3b30e-86a0-4e11-8cca-ea2d35e60ad3",
      "name": "Añadir error - Tiempo de solicitud"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "620a6030-f5c2-4110-b63f-8f3b9945861b",
              "leftValue": "={{ $json.daysRequested }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        -32
      ],
      "id": "560a3814-4ca9-4cc4-a2ca-0df9caab11ce",
      "name": "¿Los dias solicitados son positivos?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"solicitud {{ $json.daysRequested }}, los dias solicitados son negativos, por lo que la fecha de retorno es inferior a la de inicio. Intente realizar una nueva solicitud.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        192
      ],
      "id": "5de578f4-9f8a-44aa-8403-86c7bce85e9c",
      "name": "Añadir error - Dias solicitados negativo"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_of",
          "mode": "list",
          "cachedResultName": "days_of"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        -368
      ],
      "id": "08e29fb8-7ba9-4c44-a042-cc69efd7c9cf",
      "name": "Obtener dias libres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "9gV78ToGcmwAztDQ",
          "name": "PSQL - n8n_postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eca95a0b-d398-4625-acaa-d6f7c5a17f56",
              "leftValue": "={{ $('Extraer variables de la solicitud').item.json.daysRequested }}",
              "rightValue": "={{ $json.vacation_days }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        -16
      ],
      "id": "12cbd6b1-b9ea-432f-ba9a-d866091b4e67",
      "name": "¿Tiene suficientes vacaciones?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"No tiene suficientes dias libres, cuenta con: {{ $('Obtener dias libres').item.json.vacation_days }}.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        256
      ],
      "id": "0d4cffce-fbbf-429e-8735-5418b6e82977",
      "name": "Añadir error - No tiene suficientes vacaciones"
    },
    {
      "parameters": {
        "content": "## RRHH - Petición",
        "height": 272,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        -384
      ],
      "typeVersion": 1,
      "id": "fcdb45ce-7ccf-4d90-a62c-e7845188ff10",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Solicitud nueva: \nEmpleado: {{ $('Extraer variables de la solicitud').item.json.fullName }}\nEmail: {{ $('Extraer variables de la solicitud').item.json.email }}\n\nFecha de inicio: {{ $('Extraer variables de la solicitud').item.json.startDate }}\n\nFecha de retorno: {{ $('Extraer variables de la solicitud').item.json.endDate }}\n\n\n### Comentarios: {{ $('Extraer variables de la solicitud').item.json.comments }}\n\n## Aprobar o rechazar:\nPara continuar, [click aquí]({{ $execution.resumeFormUrl }})\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1504,
        -304
      ],
      "id": "42e45215-77c9-4343-8316-fc68e6bba056",
      "name": "Enviar mensaje a RRHH",
      "webhookId": "9d703086-b62d-461f-a9ea-2761b70cd37a",
      "credentials": {
        "discordWebhookApi": {
          "id": "HWg9Lt4awUYpwpjC",
          "name": "Discord - RRHH Webhook"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user",
          "mode": "list",
          "cachedResultName": "user"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        1168
      ],
      "id": "0fd97c2f-9804-4a5a-b6da-f3fcd7f39389",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "9gV78ToGcmwAztDQ",
          "name": "PSQL - n8n_postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "days_of"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        1168
      ],
      "id": "f7333d4d-c039-4f0e-bbbb-f217dc5b46fe",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "QTSYzw0qqUkcpPYf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Conexión a PSQL DB & Supabase\n",
        "height": 288,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        1088
      ],
      "typeVersion": 1,
      "id": "7624d981-c03c-4b50-92e5-01bc0efa8a83",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "=Aprobar tiempo limite",
        "formDescription": "=El empleado: {{ $('Extraer variables de la solicitud').item.json.fullName }}\n\nSolicita: {{ $('Extraer variables de la solicitud').item.json.daysRequested }} días\n\nEntre: {{ $('Extraer variables de la solicitud').item.json.startDate }} y {{ $('Extraer variables de la solicitud').item.json.endDate }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "¿Aprobar o rechazar?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Aprobar"
                  },
                  {
                    "option": "Rechazar"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Motivo",
              "fieldType": "textarea",
              "placeholder": "Motivo por el cual no podemos aprobarlo",
              "requiredField": true
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "days",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1712,
        -304
      ],
      "id": "6a0780fc-aa92-42e5-9efb-95318289cc66",
      "name": "Esperar a RRHH 48 hs",
      "webhookId": "68b8bd9a-ed2e-41a9-ad24-ada9c67de0b1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eca95a0b-d398-4625-acaa-d6f7c5a17f56",
              "leftValue": "={{ $json['¿Aprobar o rechazar?'] }}",
              "rightValue": "=Aprobar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        0
      ],
      "id": "8cd8fed3-bf50-40ec-ba0e-a4fb0c1a4e8f",
      "name": "¿RRHH aprueba la solicitud?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"{{ $json.Motivo }}.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        224
      ],
      "id": "87940bfc-1460-4858-9de8-38e85db0612c",
      "name": "Añadir error - RRHH rechazo la solicitud"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email }}",
        "subject": "Rechazo de sollicitud",
        "message": "=<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Rechazo de solicitud</title>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <style>\n    .card {\n      margin: 0 auto;\n      max-width: 560px;\n      border-radius: 16px;\n      background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);\n      border: 1px solid #e5e7eb;\n      /* sombras en capas para que se note en Gmail */\n      box-shadow: \n        0 8px 24px rgba(0,0,0,0.28),\n        0 12px 32px rgba(0,0,0,0.22),\n        0 2px 6px rgba(0,0,0,0.15);\n    }\n    .content {\n      padding: 28px;\n      font: 15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;\n      color:#1f2937;\n    }\n    .h1 {\n      margin:0 0 12px;\n      font-size:22px;\n      font-weight:700;\n      color:#111827;\n      text-align:center;\n    }\n    .p { \n      margin:0 0 18px; \n      text-align:center; \n    }\n    .footer {\n      margin-top:20px;\n      font-size:12px;\n      color:#6b7280;\n      text-align:center;\n      border-top:1px solid #e5e7eb;\n      padding-top:12px;\n    }\n  </style>\n</head>\n<body style=\"margin:0; padding:32px 14px; background:#ffffff;\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n    <tr>\n      <td align=\"center\">\n        <div class=\"card\">\n          <div class=\"content\">\n            <h1 class=\"h1\">Rechazo de solicitud</h1>\n            <p class=\"p\">\n              Motivo: {{ $json.message }}<br>\n              Para más información, comuníquese con RRHH a\n              <a href=\"mailto:rrhh@empresa.com\" style=\"color:#2563eb; text-decoration:none;\">rrhh@empresa.com</a>\n            </p>\n            <div class=\"footer\">\n              Este mensaje fue generado automáticamente.<br>\n              Por favor, no responda a este correo ya que no será leído.<br>\n              Si necesita asistencia adicional, comuníquese con el área de RRHH.\n            </div>\n          </div>\n        </div>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        544
      ],
      "id": "b5236b2c-49f3-4bae-bffa-6355a0665036",
      "name": "Enviar mensaje -  Rechazado por RRHH",
      "webhookId": "42c537f7-f413-43ce-816f-0daec14dd1ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "jG503Egv0gBIaG41",
          "name": "Gmail account - nikolas090189@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Respuesta al solicitante",
        "height": 224,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        496
      ],
      "typeVersion": 1,
      "id": "b00a6977-b9b7-4b58-8267-f56e96b2c624",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Validación de aprobación",
        "height": 544,
        "width": 464,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        -80
      ],
      "typeVersion": 1,
      "id": "e3604f37-b14a-495a-8126-ad41f27b877a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "                   Respuesta al solicitante",
        "height": 224,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        496
      ],
      "typeVersion": 1,
      "id": "ceb297cc-cbb8-43fe-b8e6-885ba4438f74",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "59752d8bcea5c861268e92a441c0bc2a8db5198093c3fe5a87b05acb01e83513@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Tiempo libre de empleados"
        },
        "start": "={{ $('¿Los dias solicitados son positivos?').item.json.startDate }}",
        "end": "={{ $('¿Los dias solicitados son positivos?').item.json.endDate }}",
        "additionalFields": {
          "summary": "=Vacaciones de {{ $('Extraer variables de la solicitud').item.json.fullName }}\n\nTiempo solicitado: {{ $('Extraer variables de la solicitud').item.json.daysRequested }} días."
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2000,
        112
      ],
      "id": "35a38461-adc1-4703-8bfa-1dafaf99e691",
      "name": "Crear evento de vacaciones del empleado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0TcOAODdxPAHzMgu",
          "name": "Google Calendar - nikolas090189@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Receso otorgado",
        "height": 544,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -80
      ],
      "typeVersion": 1,
      "id": "a3865cc9-2aae-44c6-b7d0-4a6941913bda",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "days_of",
        "filters": {
          "conditions": [
            {
              "keyName": "=id",
              "condition": "eq",
              "keyValue": "={{ $('Obtener dias libres Supabase').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=vacation_days",
              "fieldValue": "={{ $('Obtener dias libres Supabase').item.json.vacation_days - $('¿Los dias solicitados son positivos?').item.json.daysRequested }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2224,
        112
      ],
      "id": "5c4da22f-37cc-421c-8113-881cdb4f9d41",
      "name": "Actualizar dias de vacaciones",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QTSYzw0qqUkcpPYf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "                  Aviso de solicitud aprobada",
        "height": 224,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        496
      ],
      "typeVersion": 1,
      "id": "0c4bdaf9-763e-440d-85e9-73f55837d4a6",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email }}",
        "subject": "Aprobación de sollicitud",
        "message": "=<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Aprobación de solicitud</title>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <style>\n    .card {\n      margin: 0 auto;\n      max-width: 560px;\n      border-radius: 16px;\n      background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);\n      border: 1px solid #e5e7eb;\n      /* sombras en capas para que se note en Gmail */\n      box-shadow: \n        0 8px 24px rgba(0,0,0,0.28),\n        0 12px 32px rgba(0,0,0,0.22),\n        0 2px 6px rgba(0,0,0,0.15);\n    }\n    .content {\n      padding: 28px;\n      font: 15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;\n      color:#1f2937;\n    }\n    .h1 {\n      margin:0 0 12px;\n      font-size:22px;\n      font-weight:700;\n      color:#111827;\n      text-align:center;\n    }\n    .p { \n      margin:0 0 18px; \n      text-align:center; \n    }\n    .footer {\n      margin-top:20px;\n      font-size:12px;\n      color:#6b7280;\n      text-align:center;\n      border-top:1px solid #e5e7eb;\n      padding-top:12px;\n    }\n  </style>\n</head>\n<body style=\"margin:0; padding:32px 14px; background:#ffffff;\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n    <tr>\n      <td align=\"center\">\n        <div class=\"card\">\n          <div class=\"content\">\n            <h1 class=\"h1\">Aprobación de solicitud</h1>\n            <p class=\"p\">\n              Felicidades, su solicitud ha sido aprobada. <br>\n              Para más información, comuníquese con RRHH a\n              <a href=\"mailto:rrhh@empresa.com\" style=\"color:#2563eb; text-decoration:none;\">rrhh@empresa.com</a>\n            </p>\n            <div class=\"footer\">\n              Este mensaje fue generado automáticamente.<br>\n              Por favor, no responda a este correo ya que no será leído.<br>\n              Si necesita asistencia adicional, comuníquese con el área de RRHH.\n            </div>\n          </div>\n        </div>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2144,
        544
      ],
      "id": "dd2d5aa1-ad2c-4ac1-a16d-6f26b57e536c",
      "name": "Enviar mensaje -  Aprobado por RRHH",
      "webhookId": "42c537f7-f413-43ce-816f-0daec14dd1ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "jG503Egv0gBIaG41",
          "name": "Gmail account - nikolas090189@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## PSQL/Supabase\n**Alternativa** a el nodo de Supabase\n  ",
        "height": 272,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        -464
      ],
      "typeVersion": 1,
      "id": "e5d38b4d-8d3e-4586-a3a1-176fec0552d1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "days_of"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        16
      ],
      "id": "c198b301-81a7-41a1-a352-180db46a1ab8",
      "name": "Obtener dias libres Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "QTSYzw0qqUkcpPYf",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Nueva solicitud de tiempo libre": {
      "main": [
        [
          {
            "node": "Extraer variables de la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer variables de la solicitud": {
      "main": [
        [
          {
            "node": "¿Es mayor a hoy + 7 dias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es mayor a hoy + 7 dias?": {
      "main": [
        [
          {
            "node": "¿Los dias solicitados son positivos?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - Tiempo de solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - Tiempo de solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Los dias solicitados son positivos?": {
      "main": [
        [
          {
            "node": "Obtener dias libres Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - Dias solicitados negativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - Dias solicitados negativo": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener dias libres": {
      "main": [
        []
      ]
    },
    "¿Tiene suficientes vacaciones?": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - No tiene suficientes vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - No tiene suficientes vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje a RRHH": {
      "main": [
        [
          {
            "node": "Esperar a RRHH 48 hs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a RRHH 48 hs": {
      "main": [
        [
          {
            "node": "¿RRHH aprueba la solicitud?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿RRHH aprueba la solicitud?": {
      "main": [
        [
          {
            "node": "Crear evento de vacaciones del empleado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - RRHH rechazo la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - RRHH rechazo la solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje -  Rechazado por RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento de vacaciones del empleado": {
      "main": [
        [
          {
            "node": "Actualizar dias de vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar dias de vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje -  Aprobado por RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener dias libres Supabase": {
      "main": [
        [
          {
            "node": "¿Tiene suficientes vacaciones?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07a167b33a2c4f677e104ea6fd5ded887f679f10744632444dda91b3bc7b67f3"
  }
}