1.Intro/pokemon-workflow.json
{
  "name": "pokemon",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -48
      ],
      "id": "f401357c-1a84-4c86-be32-1fec8d921845",
      "name": "Click"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LLQlcwGvzuR-I-N2vj7wBDRITdpeIHIF7kOYIZAxAag",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LLQlcwGvzuR-I-N2vj7wBDRITdpeIHIF7kOYIZAxAag/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemon-ID-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LLQlcwGvzuR-I-N2vj7wBDRITdpeIHIF7kOYIZAxAag/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        -48
      ],
      "id": "bd3e0e63-ed3f-4044-8999-34c542fcac70",
      "name": "Obtener ids de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BXKR3SMJIs98W59u",
          "name": "Google Sheets - nikolas090189@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        -48
      ],
      "id": "1d10dcc9-4e41-4f1f-9949-efe489fc64eb",
      "name": "Obtener información pokemon"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c21421ca-c4fb-4b94-8dfe-f506480cb200",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "397c5e7d-2d22-447c-90b6-785400fab64b",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4b889f2e-97f0-4273-bcf3-d5261af9bd07",
              "name": "type",
              "value": "={{ $json.types[0].type.name }}",
              "type": "string"
            },
            {
              "id": "46d23461-2e8c-431b-ab59-70036e789533",
              "name": "photos.front",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "5f28249b-fb55-4314-8994-f29463cd00be",
              "name": "photos.back",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -48
      ],
      "id": "4651f7c2-580c-457d-8e59-6fa3673eec25",
      "name": "Extraer datos del pokémon"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LLQlcwGvzuR-I-N2vj7wBDRITdpeIHIF7kOYIZAxAag",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LLQlcwGvzuR-I-N2vj7wBDRITdpeIHIF7kOYIZAxAag/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemon-ID-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LLQlcwGvzuR-I-N2vj7wBDRITdpeIHIF7kOYIZAxAag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nombre": "={{ $json.name }}",
            "Tipo": "={{ $json.type }}",
            "Sprite Frontal": "={{ $json.photos.front }}",
            "Sprite Posterior": "={{ $json.photos.back }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Frontal",
              "displayName": "Sprite Frontal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Posterior",
              "displayName": "Sprite Posterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -48
      ],
      "id": "b0b04d49-3c7a-4b78-bed7-66ba17a1706e",
      "name": "Actualizar información de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BXKR3SMJIs98W59u",
          "name": "Google Sheets - nikolas090189@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Sheet Obtener IDS de los Pokémons",
        "height": 240,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        -128
      ],
      "typeVersion": 1,
      "id": "44cf67d6-9e2f-4d04-bc34-46f4ef050a55",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9cf8806b-b433-4d5f-9d01-29163f2e31b7",
              "leftValue": "={{ $json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f3e41c07-16bb-4c26-998c-3a8c64c21083",
              "leftValue": "={{ $json.Tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -592,
        -48
      ],
      "id": "c54720f2-2271-469f-9a8c-e886b41a09e3",
      "name": "Filtrar pokemons a buscar"
    },
    {
      "parameters": {
        "content": "## Google Sheet Guardar información en el documento",
        "height": 320,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -160
      ],
      "typeVersion": 1,
      "id": "0c747e6c-e9ee-4410-9d31-4befda469a50",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Filtro Únicamente pasan los que no tienen nombre y tipo",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        -128
      ],
      "id": "cb6add2d-2d79-4971-83e5-120810902556",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## HTTP Traer información de los pokemons",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -144
      ],
      "id": "6c1d24bc-ee02-4e49-8347-8e846e45a1de",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "nikolas090189@gmail.com",
        "subject": "El proceso de migración terminó",
        "message": "=<h1>Proceso terminó </h1> <h2>Nuevos Pokémons ( {{ $json.ID.length }} ) </h2> {{ $json.ID }} <br/> {{ $json.Nombre }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        -48
      ],
      "id": "e1fb353e-0069-4518-8777-a73066d65fd6",
      "name": "Enviar correo de resultado del proceso",
      "webhookId": "051d212b-7134-4612-b2ae-4bbbde23a7d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "jG503Egv0gBIaG41",
          "name": "Gmail account - nikolas090189@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Nombre"
            },
            {
              "fieldToAggregate": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        528,
        -48
      ],
      "id": "8722f040-81a3-4a0c-844c-22dcd8be1bf0",
      "name": "Agrupar resultados"
    },
    {
      "parameters": {
        "content": "## Agupar Datos de salida",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -144
      ],
      "id": "6efbd29c-d264-4a80-b3ef-44526e054c7f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Enviar correo Con el resumen del proceso",
        "height": 288,
        "width": 358,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -144
      ],
      "id": "ae1afffd-d44b-47ec-8194-709565826124",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Click": {
      "main": [
        [
          {
            "node": "Obtener ids de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ids de Pokemons": {
      "main": [
        [
          {
            "node": "Filtrar pokemons a buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener información pokemon": {
      "main": [
        [
          {
            "node": "Extraer datos del pokémon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos del pokémon": {
      "main": [
        [
          {
            "node": "Actualizar información de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar pokemons a buscar": {
      "main": [
        [
          {
            "node": "Obtener información pokemon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar información de Pokemons": {
      "main": [
        [
          {
            "node": "Agrupar resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar resultados": {
      "main": [
        [
          {
            "node": "Enviar correo de resultado del proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e190ad73-957d-4bdf-ba1f-b1cce714cfb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07a167b33a2c4f677e104ea6fd5ded887f679f10744632444dda91b3bc7b67f3"
  },
  "id": "BTmA5YsASppjBnG3",
  "tags": []
}